@import "tailwindcss";

@theme {
  --color-orange: #f6951b;
  --color-darkBlue: #071c55;
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

/* styles.css */
@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-Regular.woff2") format("woff2"),
    url("/fonts/poppins/Poppins-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap; /* Prevents invisible text while loading */
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-Medium.woff2") format("woff2"),
    url("/fonts/poppins/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-SemiBold.woff2") format("woff2"),
    url("/fonts/poppins/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-Bold.woff2") format("woff2"),
    url("/fonts/poppins/Poppins-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

::selection {
  background: #1a1a1a;
  color: #fff;
}

.user-select-none {
  user-select: none;
  background: transparent;
}

body {
  @apply text-white dark:text-gray-900;
  /* font-family: "Poppins", "Poppins Fallback: Arial", sans-serif; */
  font-family: "Poppins", sans-serif;
}
/* FullCalendar Custom Styles  */
.fc {
  @apply font-sans;
}

.fc .fc-toolbar-title {
  @apply text-xl font-bold text-gray-900 dark:text-white;
}

.fc .fc-button {
  @apply bg-white border border-gray-300 rounded-md shadow-sm px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500;
}

.fc .fc-button-primary {
  @apply bg-blue-500 border-blue-500 text-white hover:bg-blue-600 hover:border-blue-600;
}

.fc .fc-button-primary:not(:disabled).fc-button-active,
.fc .fc-button-primary:not(:disabled):active {
  @apply bg-blue-600 border-blue-600;
}

.fc-theme-standard .fc-scrollgrid {
  @apply border-gray-200;
}

.fc .fc-daygrid-day-number {
  @apply text-sm text-gray-700 dark:text-white;
}

.fc .fc-event {
  @apply text-white  border-2 border-gray-900 shadow-sm cursor-pointer transition-opacity hover:opacity-90 bg-gray-800 dark:bg-gray-700;
}

.fc .fc-timegrid-slot {
  @apply h-12;
}

.fc .fc-timegrid-axis {
  @apply text-sm text-gray-500;
}

.fc .fc-col-header-cell {
  @apply bg-gray-50 py-2;
}

.fc .fc-toolbar.fc-header-toolbar {
  @apply mb-4;
}

.fc .fc-view-harness {
  @apply bg-white rounded-lg border border-gray-200;
}

.fc-col-header-cell-cushion {
  @apply font-bold text-gray-900 dark:text-white;
}

.fc-day {
  @apply bg-white dark:bg-gray-900;
}

.fc .fc-daygrid-day.fc-day-today {
  @apply bg-blue-50 dark:bg-gray-600;
}

.fc-day-disabled {
  @apply dark:bg-red-950;
}

.tour-title {
  @apply text-[#1C2B38] text-xl md:text-2xl lg:text-4xl font-bold;
}

.color-dark {
  @apply text-[#1C2B38];
}

.tour-page-title {
  @apply text-[#1C2B38] lg:text-xl font-bold;
}

.tour-page-table {
  @apply cursor-pointer opacity-80 hover:opacity-100 transition-all relative before:absolute before:-bottom-1 before:w-0 hover:before:w-full before:transition-all before:duration-300 before:h-[2px] before:bg-[#1C2B38];
}

span[data-testid="flowbite-sidebar-collapse-label"] {
  text-align: right !important;
  padding-inline: 12px;
}

button[aria-label="Close"] {
  margin: 0px !important;
}

#userRole button[aria-haspopup="menu"] {
  width: 150px !important;

  justify-content: space-between !important;

  height: 50px !important;
  border: 1px solid #e2e8f0 !important;
  padding-inline: 12px !important;
}

@media print {
  .hide-on-print {
    display: none !important;
  }

  .remove-margin {
    margin: 0px !important;
    padding: 0px !important;
  }

  .full-height-width {
    height: 100vh !important;
    width: 100vw !important;
  }

  .no-shadow {
    box-shadow: none !important;
    text-shadow: none !important;
  }
}

/* index.css or global.css */
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.break-out {
  @apply relative left-1/2 w-[calc(100dvw-1rem)] max-w-none -translate-x-1/2 overflow-x-hidden;
}
